//- head
//-   meta(property='og:type', content='article')
//-   meta(property="og:site_name", content="localhost")
//-   meta(property="og:url", content="http://localhost:3000/bee")
//-   meta(property="og:title", content="Bee")
//-   meta(property="og:description", content="text")
//-   meta(property="og:image", content="http://localhost:3000/cfs/files/images/sJxQpNWDCTESDw3Ko/bee-16119-2880x1800.jpg?token=eyJhdXRoVG9rZW4iOiJRNlBISmFfa3ZCUG9ZREpib1NDOEJaZkMtQWJnZkRMa1A4Vlh0RDJjY0ZlIn0%3D")

template(name='wallpaper')
  div(horizontal, layout)
    +wallpaperVideo this
    +wallpaperImage this
    .smallCard.animated.fadeInDown
      .textsScrollWrapper
        .texts
          if isInRole 'admin'
            p#title
              +editableText collection="wallpapers" field="title" textarea=true class="title-class" inputClass="title-input-class" trustHTML=true spellcheck=true
            p#text
              +editableText collection="wallpapers" field="text" textarea=true class="text-class" inputClass="text-input-class" trustHTML=true spellcheck=true
            p
              strong name 
              +editableText collection="wallpapers" inputClass="link-input-class" field="name"
            p
              strong preview 
              +editableText collection="wallpapers" inputClass="link-input-class" field="preview"
            p
              strong video 
              +editableText collection="wallpapers" inputClass="link-input-class" field="video"
            p
              strong source 
              +editableText collection="wallpapers" inputClass="link-input-class" field="source"
          else
            p.title-class {{title}}
            p.text-class {{text}}
          //- +shareit shareData

          div(layout, horizontal)
            div(flex)
              if currentUser
                paper-input-decorator.custom(label='Comment here', floatinglabel)
                  paper-autogrow-textarea
                    textarea#commentText
          
          #commentsWrapper(style='display:none;')
            each comments
              div(class='{{myComment}}')
                .text-class
                  <strong>{{name}}</strong> - {{comment}} - <i style="color:rgba(255,255,255,0.6);">{{formatDate createdAt}}</i>
      div(layout, horizontal, style='padding: 5px')
        if currentUser
          core-icon-button#like(src='{{likeIcon}}')  {{getPublishedCount 'likes'}}
        else
          core-tooltip(label='Login to save your like', large, position='bottom', noarrow)
            core-icon-button#like(src='{{likeIcon}}')  {{getPublishedCount 'likes'}}
        core-tooltip(label='Show/hide comments', large, position='bottom', noarrow)
          core-icon-button#comment(src='{{commentIcon}}')  {{commentsCount}}
        div(flex)
        core-tooltip(label='Play preview', large, position='bottom', noarrow)
            core-icon-button#playVideo(src='{{playIcon}}')
        core-tooltip(label='Download wallpaper', large, position='bottom', noarrow)
          a(href='{{downloadFile file}}', target='_self')
            core-icon-button#downloadWallpaper(icon='file-download')
        core-tooltip(label='Share wallpaper', large, position='bottom', noarrow)
          core-icon-button#share(src='png/ic_share_white_24dp.png')
        if isInRole 'admin'
          core-tooltip(label='Delete wallpaper', large, position='bottom', noarrow)
            core-icon-button#remove(icon='close')
